@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.625rem;
  --bg-color: #fffcf5;
  --btn-border: #e1e5e8;
  --text-color: #545360;
  --dark-text: #212832;
  --primary-color: #3936c4;
  --primary-font: "Poppins", sans-serif;
  --h2-color: #21202a;
  --tick-marks-color: #8a5cd7;
  --text-color-orange: #ff8100;
  --footer-menu-color: #b5bac6;
  --footer-line-color: #3e3c50;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--primary-font);
  font-size: 0.625rem;
}

h1 {
  font-size: 7rem;
  font-weight: 600;
  line-height: 8rem;
  color: var(--h2-color);
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.4rem;
  color: var(--h2-color);
}

h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.8rem;
  color: var(--h2-color);
}

h4 {
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 5.2rem;
  color: var(--h2-color);
}

h5 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: var(--text-color);
}

h6 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: var(--text-color-orange);
}

h7 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1rem;
  color: var(--text-color);
}

h8 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1rem;
  color: var(--h2-color);
}

p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-color);
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

.container {
  max-width: 117rem;
  margin: auto;
  padding: 0 1rem;
}

/* Header Styles */
header {
  background-color: var(--bg-color);
  padding: 4rem 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 4.2rem;
}

nav ul li a {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: var(--text-color);
}

.active {
  color: var(--primary-color);
  font-weight: 600;
}

.btn-group a {
  padding: 1.3rem 2.9rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: var(--dark-text);
  font-weight: 600;
}

.btn-signup {
  border: 1px solid var(--btn-border);
  border-radius: 0.6rem;
}

/* Hero Style */
.hero {
  background-color: var(--bg-color);
}

.hero-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 90vh;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.btn {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 1.5rem 3.3rem;
  border-radius: 0.8rem;
  transition: all 0.5s ease;
}

.btn:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #212832;
}

.btn-group a:hover {
  color: var(--primary-color);
}

/* Service */

.service-heading {
  text-align: center;
  gap: 1.8rem;
  padding-top: 10rem;
}
.service-logo {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding-top: 3.8rem;
  padding-bottom: 18rem;
}

.service-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding-top: 7rem;
}

.srv-img {
  transition: all 0.5s ease;
}

.srv-img:hover {
  transform: translateY(-10px);
}

.service {
  padding: 3.8rem 2.8rem;
  border: 1px solid var(--btn-border);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 18rem;
}

.how-it-works {
  display: flex;
  padding: 0 32rem;
  flex-direction: column;
  text-align: center;
  gap: 1.8rem;
}

.how-it-works p {
  line-height: 2.8rem;
}

.service h2 {
  padding-top: 2rem;
}

.service p {
  font-size: 1.6rem;
  color: var(--text-color);
}

.service img {
  max-width: 30%;
}

/* Ad Section Style */

.tick-list li {
  list-style: none;
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 600;
}

.tick-list li img {
  padding-right: 1rem;
}

.tick-list li:before {
  content: tick;
  padding-right: 2rem;
}

.job-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 6.8rem;
  padding-bottom: 18rem;
}

.job-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Featured Section Start */

.featured {
  margin: 9rem 0;
  padding: 0;
}

.featured-jobs-header {
  margin-bottom: 7rem;
}

.featured-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4em;
  margin-bottom: 6rem;
}

.featured-content {
  display: grid;
  align-items: center;
  padding: 4.4rem 2.2rem;
  border: 1px solid var(--btn-border);
  border-radius: 0.6rem;
  gap: 2.2rem;
}

.featured-jobs-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0 37rem;
  gap: 2rem;
}

.location {
  display: flex;
  justify-content: first baseline;
  align-items: center;
  gap: 1rem;
}

.location h6 {
  padding-left: 2rem;
}

.logo-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 3.5rem;
}

.logo-content h5 {
  font-weight: 600;
}

.logo-content .btn {
  background-color: var(--h2-color);
  font-size: 1.6rem;
  line-height: 2, 8rem;
  font-weight: 600;
  color: white;
  padding: 0.4rem 2.2rem;
  border-radius: 0.6rem;
  margin-left: 6rem;
}

.btn2 {
  background-color: var(--h2-color);
  color: #ffffff;
  padding: 1.5rem 3.5rem;
  border-radius: 0.8rem;
  transition: all 0.5s ease;
  max-width: 30%;
}

.button {
  text-align: center;
  transition: all 0.5s ease;
}

.button:hover {
  transform: translateY(-10px);
}

/* Reviews Section Style */
.headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18rem;
}

.reviews-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.hd {
  max-width: 47rem;
}

.rev-content {
  display: grid;
  align-items: center;
  padding: 4.2rem 2.2rem;
  border: 1px solid var(--btn-border);
  border-radius: 0.6rem;
  gap: 2.2rem;
  margin-top: 7rem;
  transition: all 0.5s ease;
  background: #ffffff;
  margin-bottom: 23rem;
}

.rev-content:hover {
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  transform: scale(1.2);
}

.btn3 {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 1.5rem 3.3rem;
  border-radius: 0.8rem;
  transition: all 0.5s ease;
}

.btn3:hover {
  transform: translatey(-10px);
}

.rev-star {
  display: flex;
  gap: 0.6rem;
  padding-bottom: 2rem;
  margin: 0;
}

.rev-head {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.clnt-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 4rem;
}

/* Resume Section Style */

.upload-resume {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10rem 5.6rem;
  border-radius: 1.2rem;
  margin-bottom: 18rem;
  gap: 4rem;
}

.upload-resume h4 {
  width: 75rem;
  color: #ffffff;
}

.upload-resume .btn3 {
  background-color: #ffffff;
  color: var(--primary-color);
  font-weight: 600;
  transition: all 0.5s ease;
  padding: 1.5rem 3.3rem;
}

.upload-resume .btn3:hover {
  transform: translateY(-10px);
}

/* Footer Section */
.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-section .dnmk {
  font-size: 4.2rem;
  text-decoration-line: underline;
  padding-left: 1rem;
  color: var(--bg-color);
}

.footer-section .dnmk:hover {
  color: var(--primary-color);
}

.footer-section h4 {
  color: #ffffff;
  width: 70rem;
}

.src-icon {
  margin-right: 1rem;
}

.footer-section .src-btn {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 1.5rem 3.3rem;
  border-radius: 0.8rem;
  transition: all 0.5s ease;
  margin: 0 0;
}

.footer-section .src-btn:hover {
  transform: translateY(-10px);
}

.footer {
  background-image: url(Assets/footer-bg-01.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  padding-top: 18rem;
}

.solid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1147px;
  height: 2px;
  background-color: var(--footer-line-color);
  margin-top: 6.4rem;
}

.footer-menu a {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: var(--footer-menu-color);
  gap: 4.2rem;
}

.footer-menu a:hover {
  color: var(--primary-color);
}

.footer-menu {
  display: flex;
  gap: 4.2rem;
  justify-content: right;
  margin-top: 4.8rem;
}

@media (max-width: 768px) {
  html {
    font-size: 0.5rem;
  }
  .how-it-works {
    display: flex;
    padding: 0 16rem;
    flex-direction: column;
    text-align: center;
    gap: 1.8rem;
  }
  .featured-jobs-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 20rem;
    gap: 2rem;
  }
  .featured-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
    margin-bottom: 6rem;
  }
}

@media (max-width: 600px) {
  .header-wrapper {
    flex-direction: column;
    gap: 2rem;
  }

  .service-content {
    grid-template-columns: 1fr;
  }

  .btn-group {
    display: none;
  }

  .hero-img {
    margin-top: 3rem;
  }

  .hero-wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-content {
    align-items: center;
  }

  .hero h1 {
    font-size: 5rem;
    line-height: 6rem;
    margin-top: 4rem;
    padding: 0;
  }

  .hero .btn {
    margin-bottom: 2rem;
  }

  .service-logo {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding-top: 7rem;
  }
  .service {
    margin: 0 2rem;
  }

  .service-heading {
    text-align: center;
    gap: 3rem;
    margin-top: 30rem;
  }
  .how-it-works {
    display: flex;
    padding: 0 4rem;
    flex-direction: column;
    text-align: center;
    gap: 1.8rem;
  }
  .job-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 6.8rem;
    padding-bottom: 18rem;
    padding: 0rem 4rem;
  }

  .featured-jobs-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 4.3rem;
    gap: 2rem;
  }

  .featured-jobs-header h4 {
    font-size: 3.5rem;
  }

  .featured-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4em;
    margin-bottom: 6rem;
    padding: 0 4rem;
  }
  .reviews-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    margin: 0;
    padding: 0 4rem;
  }

  .rev-content {
    display: grid;
    align-items: center;
    padding: 4.2rem 2.2rem;
    border: 1px solid var(--btn-border);
    border-radius: 0.6rem;
    gap: 2.2rem;
    margin-top: 0rem;
    transition: all 0.5s ease;
    background: #ffffff;
    margin-bottom: 0;
  }

  .rev-head {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
    padding: 0 4rem;
    text-align: center;
  }

  .headings {
    flex-direction: column;
  }

  .headings .btn3 {
    margin-bottom: 6rem;
  }

  .upload-resume {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    margin-top: 6rem;
    border-radius: 0;
  }
  .upload-resume h4 {
    font-size: 3.4rem;
    width: 40rem;
  }

  .footer {
    background-image: url(Assets/footer-bg-01.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 18rem;
    margin: 0;
  }

  .footer-section {
    flex-direction: column;
    text-align: center;
    gap: 4rem;
  }

  .src-btn {
    margin: 0;
  }

  .footer-menu {
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-top: 4rem;
  }
}
